@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.item{
    position: relative;
    width: 230px;
    left: 0px;
    background-color: black;
    border: black;
    border-top: 4px solid black;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    margin-left: 10px;
}

.name{
    margin-top: 10px;
}

.name, .desc, .price{
    color: lightgreen;
    font-family:"Jost", sans-serif ;
    font-size: 20px;
    font-weight: 900;
    position: relative;
    margin-left: 10px;
}

.name, .desc, .price{
    display: flex;
    margin-bottom: 5px;
}

.addtocart{
    height: 50px;
    position: relative;
    font-size: 23px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    font-weight: 100;
    font-family: 'Martian Mono', monospace;
    background:#2f3e46;
    cursor: pointer;
    transition: all 550ms ease;
}
.addtocart:hover{
    background: RGB(66, 84, 70);
    color: white;
}

.containerImg{
    position: relative;
    border-radius: 10px 10px 10px 10px;    
    width: 230px;
    height: 230px;  
    overflow: hidden;
    display: flex;
}

.containerImg img{
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    transition: transform 500ms ease;
    cursor: pointer;
}

.price{
    color:white;
    font-size: 28px;
    font-family: 'Martian Mono', monospace;
}

    
.fullitem {
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.76);
    z-index: 9999;
    overflow: hidden;
}
    
.fullitem > div {
    height: 100vh;
    width: 100vw;
    position: relative;
    background: #777;
    border-radius: 15px;
}

.fullItemContainers{
    display: flex;
}

.containerFullItemImg{
    position: relative;
    width: 50%;
    height: 100%;
}

.FullItemImg{
    position: relative;
    width: 90%;
    height:75%;
    top:50px;
    left:50px;
    right:0;
    bottom:0;
}

.containerFullItemImg img:hover{
    transform:scale(1.05)
}

.containerFullItemStrings{
    display: flex;
    flex-direction: column;
    font-family: "Jost", sans-serif;
    font-size: 30px;
    font-weight: 700;
}