
.AboutUs{
    position: relative;
    background: white;
    min-height: 90vh;
    z-index: 1;
}


.BackgroundFirst{
    position: relative;
    background: lightgreen;
    border-radius: 30px;
    margin: 0px auto;
    width: 800px;
    height: 200px;
    padding: 5px 5px;
    left: -200px;
    top: 20px;
}

.First{
    position: relative;
    top: 15px;
    left: 12px;

    text-align: left;
    font-size: 250%;
    font-weight: 200;
    font-family: 'Jost', sans-serif;
}

.BackgroundSecond{
    position: relative;
    background: lightgreen;
    margin: 0px auto;
    left: -100px;
    top: 0px;
    border-radius: 30px;
    width: 700px;
    height: 130px;
    padding: 5px 10px;
}

.Second{
    position: relative;
    top: 10px;
    left: 8px;

    text-align: left;
    font-size: 240%;
    font-weight: 200;
    font-family: 'Jost', sans-serif;
}

.BackgroundThird{
    position: relative;
    background: lightgreen;
    border-radius: 30px;
    width: 700px;
    height: auto;
    padding: 10px 10px;
    margin: 0px auto;
    left: -290px;
    top: 60px
}

.Third{
    position: relative;
    top: 0px;
    left: 8px;

    text-align: left;
    font-size: 200%;
    font-weight: 200;
    font-family: 'Jost', sans-serif;
}

.BackgroundFour{
    position: relative;
    background: lightgreen;
    border-radius: 30px;
    width: 560px;
    height: auto;
    padding: 5px 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    left: 345px;
    top: -170px
}


.Four{
    position: relative;
    top: 10px;
    left: 8px;

    text-align: left;
    font-size: 200%;
    font-weight: 200;
    font-family: 'Jost', sans-serif;
}

.BackgroundFive{
    position: relative;
    width:max-content;
    margin: 0 auto;
    top: -130px;
    left: 0px;
}

.Five{
    position: relative;
    color:lightgreen;
    text-align: left;
    font-size: 750%;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
}