@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    text-decoration: none;
    list-style-type: none;
}


.SLIDER{
    width: 100%;
    background: white;
    overflow: hidden;
}

.elementsOfItems{
    display: flex;
    flex-wrap: wrap;
}

.ITEMS{
    padding: 10px;
    position: relative;
    width: 75%;
}



.CATEGORIES{
    position: relative;
    width: 25%;
}

.WarehousePage {
    display: flex;
    width: 100%;
    min-height: 66vh;
    background: white;
}

.containerClassName{
    float: inline-end;    
    position: relative;
    max-width: max-content;
    color: white;
    display: flex;
    right: 50px;
}

.pageClassName{
    transition: all 500ms;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageClassName:hover{
    opacity: 0.5;
}

.pageLinkClassName{
    position: relative;
    font-size:40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color:black
}

.pageLinkClassName{
    position: relative;
    padding: 0px 10px 0px 10px;
}

.previousContainer{
    color:black;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    cursor: pointer;
}

.nextContainer{
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    cursor: pointer;
}

.previousContainer, .nextContainer{
    transition: all 300ms ease;
}

.previousContainer a, .nextContainer a{
    color:black;
    font-size: 40px;
}

.previousContainer:hover, .nextContainer:hover{
    opacity: 0.5;
}




