.fullTITLE, .fullDESC, .fullPRICE{
    position: relative;
    top: 20px;
    margin: 10px 20px;
    color: lightgreen;
    font-family:"Jost", sans-serif ;
    font-size: 20px;
}

.FullItem{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.76);
    z-index: 9999;
    overflow: auto;
}

.FullItem > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 40px 30px;
    background: #777;
    border-radius: 15px;
}