@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


.categories div{
    position: relative;
    color: black;
    padding: 20px 10px;
    margin-right: 10px;
    cursor: pointer;
    border-color: black;
    border: 1px solid ;
    transition: all 500ms ease;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Martian Mono', monospace;
    text-align: center;
}
.categories div:hover {
    transform: scaleX(1.05);
}


