.logo{
    position: relative;
    font-size: 120px;
    font-weight: 600;
    left: 360px;
}

.pages div{
    position: relative;
    display: inline;
    background: #555;
    bottom: 120px;
    font-size: 35px;
    font-family: 'Jost', sans-serif;
    font-weight: 200;
    left: 500px;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
    margin-bottom: 10px;
    margin-left: 30px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 500ms ease;
}
.pages div:hover {
    opacity: 0.5;
    transform: scale(1.1);
}
.pages .shopcartbutton{position: absolute;right: 610px;top: 65px;font-size: 40px;cursor: pointer;transition: color 500ms ease;}
.pages .shopcartbutton:hover, .shop-cart-button:active {color: lightgreen;}
.pages footer{
    position: absolute;
    bottom:-400px;
    left: 360px;
}
