@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


.FOOTER{
    background: white;
    position: relative;
    display: flex;
    min-height: 17vh;
    min-width: 500px;
    border: 1px solid;
    border-color: black;
}

.Blocks{
    position: relative;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.SocietyBlock{
    position: relative;
}

.SocietyBlock p{
    font-size: 220%;
    font-weight: 400;
    font-family: 'Martian Mono', monospace;
    color:black;
}

.ContactBlock{
    position: relative;
}

.ContactBlock p{
    color: black;
    font-size: 220%;
    font-weight: 400;
    font-family: 'Martian Mono', monospace;
}

.BackButton{
    background: rgb(40, 46, 40);
    transition: all 0.3s ease;
}

.BackButton:hover{
    background: rgb(21, 22, 21);
}

.BackButton .DoubleUp, .BackButton .ButtonLabel{
    position: relative;
    top: 4em;
    display: block;
    opacity: 0.7;

}

.BackButton .DoubleUp{
    margin: 0 auto;
    font-size: 100%;
    font-weight: 400;
    font-family: 'Martian Mono', monospace;
    
    
}

.BackButton .ButtonLabel{
    margin: 0 auto;
    font-size: 100%;
    font-weight: 200;
    font-family: 'Martian Mono', monospace;
    
}


