.item{
    position: relative;
    width: 22%;
    margin-bottom: 30px;
    background: #777;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    padding-bottom: 50px;
    margin-right: 50px;
    bottom:100px;
}

.TITLE , .DESC , .PRICE{
    position: relative;
    top: 20px;
    margin: 10px 20px;
    color: lightgreen;
    font-family:"Jost", sans-serif ;
    font-size: 20px;
}


.item img{
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    transition: transform 500ms ease;
    cursor: pointer;
}

.item img:hover{
    transform:scale(1.1)
}

b{
    color:white;
}

b{
    font-size: 28px;
    font-family: 'Martian Mono', monospace;
}

.addtocart{
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 23px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    background: rgb(128, 202, 110);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 500ms ease;
}
.addtocart:hover{
    transform: scale(1.2);}