@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin : 0;
    padding: 0;
    a{
        color: white;
        text-decoration:none;
    }
}
body {
    background: #333;
    color: white;
    font-family: "Jost", sans-serif;
    font-weight: 300px;
}

.wrapper{
    width: 1280px;
    margin: 50px auto;
}

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
   
}

