@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin : 0;
    padding: 0;
    a{
        color: white;
        text-decoration:none;
    }
}



footer {
    position: absolute;
    
}

body {
    background: #333;
    color: white;
    font-family: "Jost", sans-serif;
    font-weight: 300px;
}

.wrapper{
    width: 1280px;
    margin: 50px auto;
}

header .logo{
    font-size: 120px;
    font-weight: 600;
}

header ul.nav {
    float: right;
    list-style: none;
}

header ul.nav main{
    position: relative;
    right: 150px;
    top: 50px;
    display: inline;
    margin-left: 20px;
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: 200;
    cursor: pointer;
    transition: opacity 400ms ease;
    background-color: #444;
    border-radius: 5px;
    padding: 10px 30px;
}

header ul.nav main:hover{
    opacity: 0.5;
}



main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
   
}

main .item{
    position: relative;
    width: 22%;
    margin-bottom: 30px;
    background: #777;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    padding-bottom: 50px;
    margin-right: 50px;
}

main h2, main p, main b{
    position: relative;
    top: 20px;
    margin: 10px 20px;
    color: lightgreen;
    font-family:"Jost", sans-serif ;
    font-size: 20px;
}


main .item img{
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    transition: transform 500ms ease;
    cursor: pointer;
}

main .item img:hover{
    transform:scale(1.1)
}

main b{
    color:white;
}

main b{
    font-size: 28px;
    font-family: 'Martian Mono', monospace;
}

main .add-to-cart{
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 23px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    background: rgb(128, 202, 110);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 500ms ease;
}
main .add-to-cart:hover{
    transform: scale(1.2);
}
/*/СТИЛИ ДЛЯ ПРИБЛИЖЕННОГО ОПИСАНИЯ
.full-item h2, .full-item p, .full-item b{ position: relative;top: 20px;margin: 10px 20px;color: lightgreen;font-family:"Jost", sans-serif ;font-size: 20px;}
.full-item img{width: 100%;border-radius: 10px 10px 10px 10px;transition: transform 500ms ease;cursor: pointer;}
.full-item img:hover{transform:scale(1.1)}
.full-item b{font-size: 28px;font-family: 'Martian Mono', monospace; color:#white}
.full-item .add-to-cart{position: absolute;right: 30px;bottom: 30px;font-size: 23px;font-weight: 400;font-family: "Jost", sans-serif;background: rgb(128, 202, 110);border-radius: 10px;cursor: pointer;transition: transform 500ms ease;}
.full-item{position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0, 0, 0, 0.76);z-index: 9999;overflow: auto;}
.full-item > div {width: 400px;position: relative;margin: 10% auto;padding: 40px 30px;background: #777;border-radius: 15px;}
/*/



.shopcartbutton{position: absolute;right: 710px;top: 170px;font-size: 40px;cursor: pointer;transition: color 500ms ease;}
.shopcartbutton:hover, .shop-cart-button:active {color: lightgreen;}
/*/ СТИЛИ ДЛЯ БУДУЩЕЙ КОРЗИНЫ ТОВАРОВ
header .shop-cart .item{ width: 80%; color:  lightgreen; bottom: 10px;}
header .shop-cart .item h2{font-size: 18px;argin-top: 30px;}
header .shop-cart .item b{font-size: 20px;font-weight: 700;font-family: 'Martian Mono', monospace; ;}
header .shop-cart .item img {width: 85px;float: left;margin-right: 20px;border-radius: 5px;margin-bottom: 10px;}
header .shop-cart .empty h2 {font-size: 25px; margin-bottom: 10x;}
header .shop-cart .item .delete-iconcolor: white;float: right;position: relative;top: -20px;left: 40px;cursor: pointer;transition: color, transform 500ms ease;}
header .shop-cart .item .delete-icon:hover{color:red;transform: scale(1.5);}
header .shop-cart .summa{ float:left;width: 100%;font-weight: 600;font-size: 20px;font-family: 'Martian Mono', monospace;}  
/*/




